.left{
    width:30%;
    height: 100vh;
    background: linear-gradient(226deg, #2382ff, #0071ff);
    padding-left: 30px;
    padding-right: 10px;
    vertical-align: baseline;
    outline: 0;
    /* word-break: break-all; */
    word-break: break-word;
    word-wrap: break-word;

}
.bg-color{
    width: 200px;
    height: auto;
    position: absolute;
    left: 60px;
    bottom: 40px;
    border-radius: 100px 0 0 0;
}
.right{
    width: 70%;
    height: 100vh;
}
.quick-integration{
    width: 100%;
    height: auto;
    padding-top: 40px;

}
.build{
    margin-top: 60px;
}
.quick-row{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.quick{
    width:85%;
    height: 60px;


}
.quick p:nth-child(1){
    margin: 4px;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: bold;
}
.quick p:nth-child(2){
    color: #a0aec0;
    margin: 4px;
}
.left h2{
    font-family: sans-serif;
    font-size: 22px;
    color: #f8f8f8;
}
.login-div{
    width:100%;
    height: 100vh;
    display: flex;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.side-div{
    width: 90%;
    height: 80%;
}

.form-div{
    width:100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width:500px;
    height: 600px;
    background: white;
}

.el-input__inner {
    width: 94%;
    height: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #c0c3cc;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    color: #28292e;
}
.el-input__inner:hover{
    border: 1px solid #0071ff;
}
.el-input {
    font-size: 14px;
    width: 100%;
}

.el-form-item__label{
    font-weight: bold;
}

.el-form-item a{
    color:#0071ff;
    text-decoration: none;
}

.el-form-item{
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}
.el-form-i{
    width: 100%;
   display: flex;
justify-content: flex-end;
}
.v{
    display: flex;
    color: #0071ff;
    width: 100%;
    justify-content: flex-end !important;


}
.v a{
    color: #0071ff;
    text-decoration: none;
}
.v a:hover {
    color: #0056b3;
}
.v2{
    display: flex;
    color: #0071ff;
    width: 100%;

}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 48px;
    background: #0071ff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 0 none;
    outline: none;
    color: #fff;
}

.login-code{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 48px;
    background: #f0f5ff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 0 none;
    outline: none;

    color: #0071ff;
}

.dashboard{
    width:100%;
    height: 100vh;
    display: flex;
    background: #f3f2f2;
}
main{
    width:82%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container{
    width:95%;
    height: 100%;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

aside{

    width: 18%;
    height: 100vh;
    background: linear-gradient(135deg, #0d1a3a, #0d1938 17%, #0d1938 53%, #0f1f45);
    img{
        padding: 20px;
    }
}
nav{
    width:100%;
    height: auto;
    padding: 5px;
}
.nav-content:nth-child(1) {
    background-color: hsla(0, 0%, 100%, .07);
}
.nav-content{
    cursor: pointer;
    width: 80%;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 13px;
    font-weight: normal;
    span:nth-child(1){
        padding-right: 10px;
    }
}
.nav-content a{
    text-decoration: none;
    color: #ccc;
}


*{
    font-family: 'Montserrat', sans-serif;
}



